body {
  font-family: Arial, sans-serif;
}
/* Navbar container */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f6d2c;
  color: white;
  padding: 5px;
  margin-bottom: 1%;
}
/* Logo and site name */
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  height: 50px;
  margin-right: 10px;
}
/* Navigation links */
.nav-links {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  font-size: 18px;
}
.nav-links li {
  margin-left: 20px;
  position: relative;
}
.nav-links li:first-child {
  margin-left: 0;
}
.nav-links li a {
  color: white;
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding: 10px;
}
.nav-links li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #4caf50;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}
.nav-links li a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}
.nav-links li.active a:before {
  visibility: visible;
  transform: scaleX(1);
}
/* Sign Up Section */
#popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Set a high z-index value */
}
#popup-content {
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgb(207, 207, 207) 100%
  );
  padding: 20px;
  width: 600px;
  height: 400px;
  border-radius: 5px;
  text-align: center;
}
#closeBtn {
  margin-top: 40px;
  background-color: #1f6d2c;
}
#closeBtn:hover {
  background-color: #717171;
}
.signup input[type="text"],
.signup input[type="email"],
.signup input[type="password"] {
  margin-top: 10px;
  width: 370px;
  padding: 10px;
  margin: 7px;
  padding-bottom: 1.5%;
  font-size: 16px;
}
.signup button[type="submit"] {
  margin-top: 10px;
  width: 300px;
  padding: 10px;
  margin: 7px;
  padding-bottom: 1.5%;
  font-size: 16px;
  margin-top: 15px;
}
.signup button {
  background-color: #1f6d2c;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px 30px;
  font-size: 16px;
  border-radius: 5px;
}
.signup button:hover {
  background-color: #349644;
}
/* Slideshow section*/
.slideshow-container {
  position: relative;
  max-width: 100%;
  margin: auto;
}
.slides {
  position: relative;
  height: 300px;
}
.slides img {
  position: absolute;
  width: 80%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease;
  margin-left: 10%;
  transform: translateY(-5px);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
  object-fit: cover;
}
.slides img.active {
  opacity: 1;
}
.dots {
  text-align: center;
  margin-top: 10px;
}
.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #bbb;
  margin: 0 5px;
  cursor: pointer;
}
.dot.active {
  background-color: #717171;
}
/* Category dropdown */
.dropdown {
  position: relative;
  margin-left: auto;
}
.dropbtn {
  background-color: #1f6d2c;
  color: white;
  padding: 10px;
  font-size: 18px;
  border: none;
  cursor: pointer;
}
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #1f6d2c;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #1f6d2c;
}
.dropdown:hover .dropdown-content {
  display: block;
}
/* Search form */
.search-form {
  display: flex;
  align-items: center;
}
.search-form input[type="text"] {
  height: 20px;
  padding: 5px;
  font-size: 16px;
  border: none;
  border-radius: 3px;
}
.search-form button[type="submit"] {
  background-color: #1f6d2c;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 18px;
  cursor: pointer;
  margin-left: 10px;
}
.search-form button[type="submit"]:hover {
  background-color: #3e8e41;
  border-radius: 10px;
}
/* Right-side button */
.nav-right {
  display: flex;
  align-items: center;
}
.shop-cart-btn {
  color: white;
  cursor: pointer;
  border: none;
}
.signup-btn {
  background-color: #1f6d2c;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  margin-left: 10px;
}
.signup-btn:hover {
  background-color: #349644;
  border-radius: 10px;
}
/* CSS styles for logo and site name */
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  height: 100px;
  margin-right: 10px;
}
/* Most sold section styling */
.most-sold {
  background-color: #fff;
  padding: 50px 0;
  text-align: center;
}
.most-sold h2 {
  font-size: 36px;
  margin-bottom: 40px;
}
.most-sold-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.most-sold-item {
  width: 320px;
  margin: 20px;
  text-align: center;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.most-sold-item:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
}
.most-sold-item img {
  width: 100%;
  height: 320px;
  object-fit: cover;
}
.most-sold-item h3 {
  font-size: 24px;
  margin: 20px 0 10px 0;
}
.most-sold-item p {
  font-size: 16px;
  margin: 10px;
}
.most-sold-item .price {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.most-sold-item button {
  background-color: #1f6d2c;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.most-sold-item button:hover {
  background-color: #349644;
}
/* New items section styling */
.new-items {
  padding: 50px 0;
  text-align: center;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.new-items h2 {
  font-size: 36px;
  margin-bottom: 40px;
  color: #fff;
  text-shadow: 0px 0px 20px rgb(0, 0, 0);
}
.new-item {
  display: inline-block;
  background-color: #e9e9e9;
  width: 320px;
  margin: 20px;
  text-align: center;
  box-shadow: 0px 0px 20px rgb(0, 0, 0);
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.new-item:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 20px rgb(0, 0, 0);
}
.new-item img {
  width: 100%;
  height: 320px;
  object-fit: cover;
}
.new-item h3 {
  font-size: 24px;
  margin: 20px 0 10px 0;
}
.new-item p {
  font-size: 16px;
  margin: 10px;
}
.new-item button {
  background-color: #1f6d2c;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
.new-item button:hover {
  background-color: #349644;
}
/* CSS styles for product section */
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
  margin-bottom: 50px;
}
.product {
  text-align: center;
  width: 200px;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #ffffff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
.product:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.product img {
  max-width: 100%;
  margin-bottom: 10px;
}
.product h2 {
  font-size: 1.2em;
  margin: 0;
}
.product p {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  margin: 0;
  margin-bottom: 10px;
}
.product button {
  background-color: #1f6d2c;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-size: 1em;
}
.product button:hover {
  background-color: #349644;
}
/* Contact section*/
.contact-links {
  background-color: #f5f5f5;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  height: 160px;
  display: flex;
  margin-bottom: 10px;
}
.contact-us {
  padding-left: 1.5%;
}
.contact-us img {
  padding-right: 0.5%;
}
.contact-links p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
/* Stylized CSS for contact section */
.contact-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.contact-us {
  margin-right: 20px;
}
.contact-us p {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}
.social-links a {
  display: inline-block;
  margin-right: 10px;
}
.social-links img {
  width: 35px;
}
.contact-section {
  flex-grow: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-left: 135px;
  margin-right: 40px;
}
.contact-section .input-field {
  flex: 1;
  margin-right: 40px;
  width: 20px;
  margin-bottom: 40px;
}
.contact-section .input-field1 {
  flex: 1;
  margin-right: 10px;
  margin-bottom: 40px;
}
.input-field,
.input-field1 {
  flex-direction: column;
}
.contact-section .message-box {
  flex: 1;
  margin-left: 10px;
  margin-top: 20px;
}
.contact-section .send-button {
  margin-top: 10px;
  margin-left: 25px;
  margin-bottom: 38px;
}
.input-field label,
.input-field1 label,
.message-box label {
  display: block;
  font-size: 14px;
  font-weight: bold;
}
.input-field input,
.input-field1 input,
.message-box textarea {
  width: 280px; /* Set a specific width value */
  height: 20px;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.message-box textarea {
  width: 300px; /* Set a specific width value */
  height: 80px; /* Set a specific height value */
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none; /* Disable resizing */
}
.send-button button {
  width: 160px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #1f6d2c;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.send-button button:hover {
  background-color: #349644;
}
/* Footer */
footer {
  background-color: #1f6d2c;
  color: #fff;
  padding: 1px;
}
footer p {
  text-align: center;
}
/* Image Hover */
.most-sold-item {
  position: relative;
  display: inline-block;
}
.image {
  display: block;
  width: 300px;
  height: 200px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  transition: opacity 0.3s;
}
.most-sold-item:hover .overlay {
  opacity: 1;
}
.new-item:hover .overlay {
  opacity: 1;
}
.new-item {
  position: relative;
  display: inline-block;
}
